body	{
	margin: 6px 0 5px 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #333;
	padding: 0;
	background-color: #ededed;
	}
	
#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background-color: #fff;
	border: 1px solid #333333;
}
	
#content .center {
	width: 570px;
	float: left;
	padding: 6px;
}

#content .right	{
	width: 200px;
	float: right;
	padding: 6px;
}

.header	{
	width: 100%;
	text-align: center;
}

.clearer {
	display: block; 
	clear: both; 
	margin: 0;
	padding: 0;
  	visibility: hidden;
  	font-size: 1px;
  	line-height: 0px;
 }

.links {
    font-size: 10px;
    line-height: 24px;
}

.comments {
    font-size: 11px;
    line-height: 13px;
    color: #000;
}

.postlinks {
    font-size: 10px;
    color: #999999;
    line-height: 12px;
    text-align: right;
}

p.fine	{
	font-size: 10px;
	text-align: center;
	color: #666;
	padding: 5px;
}